html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(12, 12, 12);
}

#__next {
  background-color: rgb(12, 12, 12);
}

@font-face {
  font-family: autography;
  src: url("/fonts/Autography-DOLnW.otf");
}

.roboto-flex-text {
  font-family: "Roboto Flex", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 100 !important;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "XOPQ" 96, "XTRA" 468,
    "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
}

.cursive-font-text {
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.search-bar {
  width: 93% !important;
  background-color: rgb(12, 12, 12);
}

.activity-flex {
  display: flex !important;
}

.filters {
  display: inline !important;
  padding: 10px 15px 10px 15px;
}

.sliderFilter {
  margin-left: 30px;
  width: 300px;
}

.activity-description {
  width: 100%;
  padding: 2%;
}

.floating-button {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 125px;
  height: 125px;
  font-size: 50px;
  background-color: rgb(12, 12, 12);
  color: #fff;
  border-radius: 75px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.floating-button:hover {
  transform: scale(1.01);
}

.help-button-desktop {
  display: block !important;
}

.help-button-mobile {
  display: none !important;
}

.timeline {
  font-size: 18px;
}

/* Card container */
.card {
  position: relative;
}

/* setting padding based on even or odd */
.card:nth-child(odd) {
  padding: 30px 0 30px 30px;
}
.card:nth-child(even) {
  padding: 30px 30px 30px 0;
}
/* Global ::before */
.card::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 50%;
  border: solid rgb(18, 139, 125);
}

/* Setting the border of top, bottom, left */
.card:nth-child(odd)::before {
  left: 0px;
  top: -5px;
  bottom: -5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

/* Setting the border of top, bottom, right */
.card:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.card:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

/* Removing the border if it is the last card  and it's odd */
.card:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card  and it's even */
.card:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

/* Information about the timeline */
.info {
  text-align: justify;
  background: #e6fff1c9;
  color: rgb(73, 73, 73);
  border-radius: 10px;
  padding: 10px;
  z-index: 0;
  line-height: 30px;
}

/* Title of the card */
.title {
  margin-bottom: 15px;
  color: rgb(21, 62, 9);
  position: relative;
  font-weight: bold;
}

/* Timeline dot  */
.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  border: 3px solid rgb(16, 90, 61);
}

/* text right if the card is even  */
.card:nth-child(even) > .info > .title {
  text-align: right;
}

/* setting dot to the left if the card is odd */
.card:nth-child(odd) > .info > .title::before {
  left: -45px;
}

/* setting dot to the right if the card is odd */
.card:nth-child(even) > .info > .title::before {
  right: -45px;
}

/*Crypto Coin Loader*/

.crypto-coin-loader {
  position: relative;
  height: 7.5rem;
  width: 7.5rem;
}

.crypto-coin-loader:before {
  content: "";
  position: absolute;
  background-image: url("/bucky-coin.svg");
  background-position: center;
  background-size: cover;
  background-color: white;
  box-shadow: 0 0 120px #ffa500;
  border-radius: 50%;
  transition: 0.25s;
  left: 50%;
  transform: rotateY(45deg) translate(-50%, 50%);
  height: 100%;
  width: 100%;
  animation: move-crypto 1.5s infinite alternate;
}

@keyframes move-crypto {
  0% {
    top: 10%;
    transform: rotateY(45deg);
  }
  100% {
    top: 45%;
    transform: rotateY(-45deg);
  }
}

/* Page Loader */
#page-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-style: italic;
  font-family: "Roboto Flex", sans-serif;
}

.wave {
  position: relative;
  width: 300px;
  height: 300px;
}

.wave h2 {
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
  line-height: 300px;
  font-size: 100px;
  text-transform: uppercase;
}

.wave h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #ffa500;
}

.wave h2:nth-child(2) {
  color: #f3ce04;
  /*   clip-path: polygon(0 50%, 100% 50%, 100% 0, 0 0); */
  animation: wave 2s ease-in-out infinite;
}

@keyframes wave {
  0% {
    clip-path: polygon(
      0% 38%,
      21% 40%,
      38% 51%,
      54% 57%,
      75% 57%,
      100% 52%,
      100% 100%,
      0 100%
    );
  }
  50% {
    clip-path: polygon(
      0% 49%,
      16% 56%,
      33% 55%,
      55% 50%,
      75% 42%,
      100% 40%,
      100% 100%,
      0 100%
    );
  }
  100% {
    clip-path: polygon(
      0% 38%,
      21% 40%,
      38% 51%,
      54% 57%,
      75% 57%,
      100% 52%,
      100% 100%,
      0 100%
    );
  }
}

@media screen and (max-width: 1000px) {
  .floating-button {
    width: 75px;
    height: 75px;
    font-size: 28px;
  }

  .activity-flex {
    display: inline !important;
  }

  .filters {
    display: inline !important;
  }

  .sliderFilter {
    margin-top: 10px;
    margin-left: 17%;
    width: 65%;
  }

  .memes-list {
    text-align: center !important;
  }

  .search-bar {
    width: 90% !important;
  }

  .detail-map {
    height: 30vh !important;
  }
  .map {
    height: 110vh !important;
  }

  .activity-description {
    padding: 7%;
  }
}

@media screen and (max-width: 600px) {
  .help-button-desktop {
    display: none !important;
  }

  .help-button-mobile {
    display: block !important;
  }

  .wave {
    width: 200px;
    height: 200px;
  }

  .wave h2 {
    line-height: 200px;
    font-size: 75px;
  }
}

@media screen and (max-width: 400px) {
  .wave h2 {
    font-size: 50px;
  }
}
